/*
= CSS
= General
=
*/

:root {
    --white: #fff;
    --white-green: #fbfdfa;
    --primary-green: #77C171;
    --secondary-green: #43613b;
    --orange: #F3AD55;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Signika", sans-serif;
}
body {
    background-image: url('./assets/background.svg');
}
html, body{
    max-width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: var(--white-green);
}
a:hover{
    color: var(--secondary-green);
}

/*
=
= Header
=
*/

header {
    width: 100%;
    height: 100px;
    background: var(--primary-green);
    display: flex;
    justify-content: space-between;
}
#logo {
    margin-left: 4rem;
    width: 6rem;
    height: 100%;
    flex-wrap: wrap;
}
#logo:hover {
    filter: invert(90%) sepia(14%) saturate(197%) hue-rotate(67deg) brightness(110%) contrast(96%);
    cursor: pointer;
}
nav li {
    padding-bottom: 0.75rem;
}
header nav ul, header nav li {
    flex-wrap: wrap;
    height: 100%;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    list-style: none;

    font-size: 1.75rem;
    color: var(--white-green);
}
.separator_nav {
    border: 0.1rem solid var(--white-green);
    background: var(--white-green);
    height: 3rem;
}

/*
=
= Search
=
*/

.search_button {
    width: 4rem;
}
.search_button:hover{
    cursor: pointer;
}
.search_bar {    
    display: flex;
    align-items: center;
    margin-right: 4rem;   
}
.search_bar button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 50%;
    z-index: 20;
}
.search_bar:hover .search_text {
    width: 16rem;
    padding-left: 2rem;
    padding-right: 3rem;
}
.search_text {
    z-index: 10;
    height: 3.25rem;
    margin-right: -1.5rem;
    border: none;
    border-radius: 2rem 0 0 2rem;
    background: none;
    outline: none;
    color: var(--secondary-green);
    font-weight: 700;
    background: var(--white);;
    transition: 0.75s;
    font-size: 1rem;
    width: 0px;
}

/*
=
= Main
=
*/

main {
    display: grid;
    grid-template-columns: 50% 50%;
    color: var(--secondary-green);
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    text-align: left;
}
aside {
    display: flex;
    justify-content: end;
    margin-left: 6rem;
    margin-right: 1rem;
    max-width: 50vw;
}
section {
    display: flex;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
section .button_home {
    height: 3rem;
    width: 80%;
}
section p {
    font-size: 2rem;
    border: none;
}
aside img {
    max-width: 50vw;
    width: 100%;
}

/*
=
= Dog Container
=
*/

.dog_container{
    display: grid;
    grid-template-rows: 80% 20%;
    padding: 1rem;

    width: 12vw;
    min-width: 150px;
    max-width: 350px;

    height: 30vh;
    min-height: 200px;
    max-height: 350px;
    
    
    background: rgba(119, 193, 113, 0.2);
    margin: 2rem;
    border-radius: 2rem;
    border: 0.25rem rgba(119, 193, 113, 0.5) solid;
}

.dog_container button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    line-height: 0.8rem;
    border-radius: 5rem;
    background-color: rgba(119, 193, 113, 0.8);
}  

.dog_container img{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    border-radius: 50%;
    border: 0.25rem rgba(255, 255, 255, 0.4) solid;
}

/*
=
= Button Customs
=
*/

.button_home {
    border: none;
    border-radius: 1rem;
    width: 80%;
    height: 3.5rem;
    background: var(--primary-green);
    color: var(--white-green);
    font-size: 1.25rem;
    line-height: 0.8rem;
}
.button_home:hover {
    background: var(--secondary-green);
    cursor: pointer;
}

/*
=
= Footer
=
*/

footer {
    display: flex;
    
    justify-content: center;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 6rem;
    flex-wrap: wrap;
}

/*
=
= Animations
=
*/

.menu-a li a {
    overflow: hidden;
}
.menu-a li a::after {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
}
.menu-a li a:hover::after {
    transform: translate3d(0, 0, 0);
}

/*
=
= Responsive Web
=
*/

@media (max-width: 1024px) {
    html {
      font-size: 83.75%; /* Tamanho de 15px */
      font-size: 1rem;
    }

    .search_bar {
        display: none;
        visibility: hidden;
        overflow: hidden;
    }


}
@media (max-width: 920px)  {
    #menu {
        display: none;
        visibility: hidden;
        overflow: hidden;
    }

    header, #logo {
        display: flex;
        justify-content: center;
        margin: 0;
    }

}
@media (max-width: 740px)  {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 2rem 0 0 0;
    }

    aside, section, aside img, section p {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    footer {
        display: flex;
        margin: 4rem 0 0 0;
        justify-content: center;

    }

    .dog_container {
        margin-right: 2rem;
        margin-left: 2rem;
    }
}
@media (max-width: 650px)  { 
    main, aside, section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }

    section {
        margin-top: 2rem;
    }

    section p {
        font-size: 1.5rem;
    }

}