/*
=
= Dog Container
=
*/

.dog_container{
    display: grid;
    grid-template-rows: 70% 20% 10%;
    padding: 1rem;

    width: 12vw;
    min-width: 150px;
    max-width: 350px;

    height: 30vh;
    min-height: 250px;
    max-height: 350px;
    
    background: rgba(119, 193, 113, 0.2);
    margin: 2rem;
    border-radius: 2rem;
    border: 0.25rem rgba(119, 193, 113, 0.5) solid;
}

.dog_container button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    line-height: 0.8rem;
    border-radius: 5rem;
    background-color: rgba(119, 193, 113, 0.8);
}  

.dog_container img{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 0.25rem rgba(255, 255, 255, 0.4) solid;
}

/*
=
= Footer / .dog_list
=
*/

.dog_list {
    display: flex;
    
    justify-content: center;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 6rem;
    flex-wrap: wrap;
}


/*
=
= Button Customs
=
*/

.button_home {
    border: none;
    border-radius: 1rem;
    margin-top: 0.25rem;
    width: 80%;
    height: 3.5rem;
    background: var(--primary-green);
    color: var(--white-green);
    font-size: 1.25rem;
    line-height: 0.8rem;
}
.button_home:hover {
    background: var(--secondary-green);
    cursor: pointer;
}


/*
=
= Dog name
=
*/

.dog_name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    text-align: center;
    font-weight: 600;
    color: var(--secondary-green);
}

/*
=
=   Media
=
*/

@media (max-width: 1024px) {
    .dog_container {
        min-height: 200px;
        margin-right: 2rem;
        margin-left: 2rem;
    }
}
@media (max-width: 740px)  {
    .dog_list {
        
        display: flex;
        margin: 4rem 0 0 0;
        justify-content: center;

    }

    .dog_container {
        margin-right: 2rem;
        margin-left: 2rem;
    }
}