:root {
    --white: #fff;
    --white-green: #fbfdfa;
    --primary-green: #77C171;
    --secondary-green: #43613b;
    --orange: #F3AD55;
}

main {
    width: 100%;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dog_container {
    width: 80%;
    height: 60%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;

    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;

    background-color: rgba(91, 190, 107, 0.2);
    border: solid rgba(119, 193, 113, 0.2) 0.20rem;
    border-radius: 2rem;
}

.dog_image {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.dog_image img {
    display: flex;
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 5rem;
    border: solid rgba(119, 193, 113, 0.2) 0.20rem;
}

.dog_infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 1rem;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
}

.dog_name {
    text-align: center;
    background-color: rgba(119, 193, 113, 0.6);
    border: solid rgba(32, 51, 30, 0.2) 0.20rem;
    width: 90%;
    padding: 0.5rem;
    border-radius: 0.75rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    color: var(--secondary-green);
}

@media (max-width: 1280px){
    .dog_container {
        min-width: 300px;
    }
}
@media (max-width: 600px){
    .dog_container {
        min-width: 250px;
    }
}
