main {
    width: 100%;
    height: 100%;
}

div#presentation {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
div#presentation aside{
    max-width: 500px;
}
div#presentation aside:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    height: 100%;
}
div#presentation aside:nth-child(1) img {
    width: 100%;
    max-width: 300px;
}
div#presentation aside:nth-child(1) h3 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--secondary-color);
}
div#presentation aside:nth-child(1) p {
    font-weight: 500;
    max-width: 300px;
    text-align: center;
    font-size: 1rem;
    color: var(--black-color);
}
div#presentation section {
    display: grid;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
    width: 100%;
    max-width: 600px;
    height: 100%;
}
div#presentation section div#why-dogs p:nth-child(1) {
    font-weight: 500;
    padding: 1rem;
    text-align: right;
    font-size: 1rem;
    color: var(--black-color);
    max-width: 300px;
}
div#presentation section div#why-dogs p:nth-child(2) {
    font-weight: 500;
    padding: 1rem;
    text-align: left;
    font-size: 1rem;
    color: var(--black-color);
    max-width: 300px;
}
div#presentation section h3 {
    height: 100%;
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    color: var(--secondary-color);
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    margin-bottom: 2rem;
}
div#presentation section div#why-dogs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div#button-homepage {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div#button-homepage .button_home {
    width: 60%;
    height: 3.5rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    font-size: 1.25rem;
    
    min-width: 200px;
}

div#curiosity-dogs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 6rem;
}
div#curiosity-dogs-sections {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
div#curiosity-dogs-sections section {
    max-width: 300px;
}
div#curiosity-dogs-sections section p:nth-child(1){
    font-size: 30px;
}
div#curiosity-dogs h3 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--ter-color);
    margin-bottom: 2rem;
}

div#find-dogs-rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap-reverse;
    padding: 5rem;
    width: 80%;
    max-width: 870px;
    min-height: 285px;
    background-color: rgba(250, 168, 71, 0.2);
    border-radius: 25px 95px 25px 95px;
}
div#find-dogs h3 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--qua-color);
    margin-bottom: 2rem;
}
div#find-dogs-rectangle div#rectangle-infos {
    max-width: 500px;
}
div#find-dogs-rectangle img#rectangle-image {
    object-fit: cover;
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    border: solid var(--black-color) 0.25rem;
}
div#find-dogs-rectangle h3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
}
div#find-dogs-rectangle h4 {
    font-size: 1.25rem;
}



@media (max-width:768px) {
    div#find-dogs-rectangle {
        padding: 2rem;
        display: flex;
        flex-direction: column-reverse;
    }
    div#find-dogs-rectangle div#rectangle-infos {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    div#find-dogs-rectangle div#rectangle-infos p {
        display: none;
    }
}