/*
=
= Main
=
*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#presentation {
    display: grid;
    grid-template-columns: 50% 40%;
    color: var(--black-color);
    padding-right: 10rem;
    padding-left: 10rem;
}
aside:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    height: 100%;
}
aside:nth-child(1) img {
    width: 300px;
}
aside:nth-child(1) h3 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--secondary-color);
}
aside:nth-child(1) p {
    font-weight: 500;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: center;
    font-size: 1rem;
    color: var(--black-color);
}
section {
    display: grid;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
    width: 100%;
    height: 100%;
}
section p:nth-child(1) {
    font-weight: 500;
    padding: 1rem;
    text-align: right;
    font-size: 1rem;
    color: var(--black-color);
}
section p:nth-child(2) {
    font-weight: 500;
    padding: 1rem;
    text-align: left;
    font-size: 1rem;
    color: var(--black-color);
}
section h3 {
    height: 100%;
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    color: var(--secondary-color);
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
}
section div#why_dogs {
    display: grid;
    grid-template-columns: 50% 50%;
}
.button_home {
    width: 40rem;
    height: 3.5rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
}
div#curiosity-dogs {
    height: 300px;
    display: grid;
    grid-template-rows: 20% 80%;
    margin-bottom: 6rem;
}
div#curiosity-dogs h3 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--ter-color);
}
div#curiosity-dogs-sections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    padding-left: 20rem;
    padding-right: 20rem;
}
div#curiosity-dogs-sections p:nth-child(1) {
    display: flex;
    justify-items: s;
    font-size: 2rem;
}

/*
=
= Footer / .dog_list
=
*/

footer {
    padding-bottom: 1rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
=
= Responsive Web
=
*/

@media (max-width: 740px)  {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 2rem 0 0 0;
    }

    aside, section, aside img, section p {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }
}

@media (max-width: 650px)  { 
    main, aside, section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }

    section {
        margin-top: 2rem;
    }

    section p {
        font-size: 1.5rem;
    }

}