/* width */

::-webkit-scrollbar {

    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--secondary-color);

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--ter-color); 
    border-radius: 0.25rem;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--qua-color); 

  }